.footer {
  background: linear-gradient(135deg, #b6e0ee, #e6fffa);
  padding: 22px 0;
  margin-top: 40px;
  border-top: 1px solid #bae6fd;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.footer h3 {
  color: #0284c7;
  font-weight: 800;
}

.footer p {
  font-size: 14px;
  color: #334155;
}

/* LINKS */
.footer-links {
  display: flex;
  gap: 22px;
  font-size: 14px;
}

/* MOBILE STACK */
@media (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}

.footer-links span {
  cursor: pointer;
  color: #0ea5e9;
  font-weight: 600;
}

.footer-links span:hover {
  text-decoration: underline;
}
